html {
    font-size: 1.3rem;
}

body {
    background: url('../img/pexels-eberhard-grossgasteiger-572897.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.mention{
    font-size: 0.6rem;
}

.btn:focus{
    box-shadow: none;
}

.bg-dark{
    background-color: #343a400d !important;
}